@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nanumgothic/v23/PN_3Rfi-oW3hYwmKDpxS7F_z_g.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-family: 'Lobster', cursive;
}
h2,
h3 {
  font-family: 'Lobster', cursive;
}
h2 {
  margin-left: 20px;
}
h3 {
  padding: 10px;
  text-align: center;
}
h3 a {
  cursor: pointer;
  color: #007BFF;
  text-decoration: none;
}
.sandbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#editor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
textarea {
  width: 100%;
  height: 300px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
  padding: 10px;
  font-family: monospace;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  resize: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vibor {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vibor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0 30px;
}
.active {
  background-color: #1d1d1d !important;
}
.btn-vibor {
  width: 25%;
  background-color: #333;
}
.btn-preview {
  background-color: #333;
}
.html {
  border-radius: 15px 0 0 15px;
}
.result {
  border-radius: 0 15px 15px 0;
}
.container {
  width: 100%;
  height: 300px;
  margin: 20px 0;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  background-color: #fafafa;
}
button {
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 200px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.apply-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.apply {
  background-color: #0272eb;
  width: 80%;
  border-radius: 15px;
}
.redactor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0 10px;
}
button:hover {
  background-color: #0056b3;
}
.editor-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.preview-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
@media (max-width: 1120px) {
  #editor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media (max-width: 650px) {
  .vibor {
    width: 100%;
    font-size: 14px;
    height: 40px;
  }
}
@media (max-width: 330px) {
  .vibor {
    width: 100%;
    font-size: 9px;
    height: 30px;
  }
}
