extends ../parts/main-example.pug
block title
    - var title="Тестовый полигон CSS"
    - var css='../../other/css/style-example-js.css'
block content
    h3 Чтобы выйти нажми правый shift или 
        a(href='./js.html') нажми сюда
    .sandbox
        #editor
            h2 Редактор JavaScript:
            label(for='script') Скрипт:
            textarea#script(rows='10').
            br
            button(onclick='applyScript()') Применить
        #preview
            h2 Результат:
            .container
                .elements
                    #testElement.element1 element1  
                    #testElement.element2 element2 
                    #testElement.element3 element3  
                    #testElement.element4 element4  