.navigation
  nav.na
    .logo Шпаргалки
    ul.nav-links
      li.li
        a.a(class=index href='index.html') Главная
      li.li
        a.a(class=html href='html.html') HTML
      li.li
        a.a(class=Css href='css.html') CSS
      li.li
        a.a(class=js href='js.html') JavaScript
    .burger
      .line1
      .line2
      .line3