.navigation
  nav.na
    .logo Шпаргалки
    ul.nav-links
      li.li
        a.a.nav-index(class=index href='#') Главная
      li.li
        a.a.nav-html(class=html href='#') HTML
      li.li
        a.a.nav-css(class=Css href='#') CSS
      li.li
        a.a.nav-js(class=js href='#') JavaScript
    .burger
      .line1
      .line2
      .line3